* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
    background: #222;
    color: #eee;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

p {
	margin-top: 1em;
}

a {
text-decoration: none;
color: green;
font-weight: bold;
}

.row {
max-width: 1200px;
width: 90%;
margin: 0 auto;
}

header {
background: #fff;
color: #000;
padding: 20px;
display: flex;
align-items: center;
justify-content: space-between;
font-family: "Montserrat", sans-serif;
}

header ul li {
list-style-type: none;
display: inline-block;
margin-left: 1em;
}

main {
	padding: 2em 5%;
}

footer {
	padding: 1em;
	background-color: grey;
}

#best {
	font-size: 2em;
	margin: 0.5em 0em;
	font-weight: bold;
	font-style: oblique;
}

.hackandslash {
	color: purple;
}

.strategic {
 color: gold;
}

.shooter {
	color: red;
}

.row ol {
	padding: 5px 30px;
}